# Logs

logs
*.logs
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

#
lib-cov
coverage
.nyc_output
coverage.*

#
.lock-wscript

#
build/Release

#
node_modules
.npm
.node_repl_history
.tsdrc
typings/
lib/*.js
test/*.js
*.map
